<div style="margin-top:10px;">
    <span class="post-time">
      <span class="post-meta-item-icon">
        <i class="fa fa-keyboard-o"></i>
        <!--<img src="icon.png", width = "15px", height="15px">——添加标签并修改大小-->
        <span class="post-meta-item-text"><img src="/assets/icon.png", width = "25px", height="25px"> 字数统计: </span>
        <span class="post-count"><%= wordcount(post.content) %>字</span>
      </span>
    </span>

    <span class="post-time">
      &nbsp; | &nbsp;
      <span class="post-meta-item-icon">
        <i class="fa fa-hourglass-half"></i>
        <span class="post-meta-item-text"><img src="/assets/shalou.jpg", width = "20px", height="30px"> 阅读时长≈ </span>
        <span class="post-count"><%= min2read(post.content) %>分</span>
      </span>
    </span>
</div>